<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kim.jun0.gonggam.mapper.CodegroupMapper">

	<resultMap type="CodegroupVo" id="codegroupResultMap">
		<id	property="codegroupId"			column="codegroup_id" />
		<result property="codegroupName"	column="codegroup_name" />
		<result property="codegroupDesc"	column="codegroup_desc" />
		<result property="regUserId"		column="reg_user_id" />
		<result property="regDate"			column="reg_date" />
		<result property="updateUserId"		column="update_user_id" />
		<result property="updateDate"		column="update_date" />
	</resultMap>

	<select id="list" resultMap="codegroupResultMap">
		SELECT *
		FROM tbl_codegroup
	</select>

	<insert id="create">
		INSERT INTO tbl_codegroup (codegroup_id, codegroup_name, codegroup_desc, reg_user_id)
		VALUES (
			UPPER(#{codegroupId})
			, #{codegroupName, jdbcType=VARCHAR}
			, #{codegroupDesc, jdbcType=VARCHAR}
			, #{regUserId}
		)
	</insert>
	
	<update id="update">
		UPDATE tbl_codegroup
		SET	codegroup_id = UPPER(#{codegroupId, jdbcType=VARCHAR})	
			, codegroup_name = #{codegroupName, jdbcType=VARCHAR}
			, codegroup_desc = #{codegroupDesc, jdbcType=VARCHAR}
			, update_user_id = #{updateUserId}
			, update_date = SYSDATE
		WHERE codegroup_id = UPPER(#{old_codegroupId})
		<!-- 트리거 작동
		CREATE OR REPLACE TRIGGER trg_rename_codegroupid
		AFTER UPDATE ON tbl_codegroup FOR EACH ROW
		BEGIN
			UPDATE tbl_code
			SET codegroup_id = :NEW.codegroup_id
			WHERE codegroup_id = :OLD.codegroup_id;
		END; -->
	</update>
	
	<select id="getChildCodeCnt" resultType="int">
		SELECT COUNT(*)
		FROM tbl_code
		WHERE codegroup_id = #{codegroupId}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_codegroup
		WHERE codegroup_id = #{codegroupId}
	</delete>

</mapper>