<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kim.jun0.gonggam.mapper.UserMapper">

	<resultMap type="UserVo" id="userResultMap">
		<id property="userId"		column="user_id" />
		<result property="userName"	column="user_name" />
		<result property="regDate"	column="reg_date" />
	</resultMap>
	
	<select id="list" resultMap="userResultMap">
		SELECT user_id, user_name, reg_date
		FROM tbl_user
		ORDER BY reg_date
	</select>
	
	<insert id="create">
		INSERT INTO tbl_user (user_id, user_pw, user_name)
		VALUES (#{userId}, #{userPw}, #{userName})
	</insert>
	
	<update id="update">
		UPDATE tbl_user
		SET user_pw = #{userPw}
			, user_name = #{userName}
		WHERE user_id = #{userId}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_user
		WHERE user_id = #{userId}
	</delete>

	<select id="login" resultMap="userResultMap">
		SELECT *
		FROM tbl_user
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
</mapper>